/* CSS stylesheet */
body {
    background-color: linen;
  }
  
  h1 {
    color: rgb(219, 143, 0);
    margin-left: 40px;
    text-align: center;
  }

  @counter-style fallback-test {
    system: fixed;
    symbols: "\24B6";
    fallback: upper-alpha;
  }
  
  .flist {
    list-style: fallback-test;
  }
  #meeting-details {
    text-decoration: underline dotted;
  }

  #fbox{
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 5%;
    border: 1mm solid #000000;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: hsl(17, 54%, 28%);
    border-radius: 1em;
    border-top-right-radius: 10% 30%;
  }

  #sbox{
    margin: 5px 5px 10px 10px;
    padding: 1cm 1cm 1cm 1cm;
    border: 2px solid color(display-p3 0.5 0 0);
  }

  h2:hover{
    background-color: rgb(179, 255, 255);
  }

  *{
    font-family: "Playfair Display", Helvetica, "Trebuchet MS", Verdana, sans-serif;
  }

  img{
    display: block;
  }